.badge-subhead {
    margin-bottom: 8px;
    padding: 10px 30px;
    background-color: rgba(116, 116, 116, 0.15);
    color: #0078ff;
    font-size: 2rem;
    border-radius: 40px;
}


/* Filterable button */

.filterable-button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
}

.filterable-button .btn {
    padding: 5px 16px;
    margin: 6px;
    font-size: 14px;
    border-radius: 40px;
    background-color: transparent;
    color: #0078ff;
    box-shadow: 0 0 0 2px #0078ff;
    font-weight: bold;
}

.filterable-button .btn:hover {
    background-color: #0078ff;
    color: #fff;
}

.filterable-button .btn.selected,
.filterable-button .btn:focus {
    background-color: #0078ff;
    color: #fff;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #747474;
}


/* Page */

.vg-page {
    position: relative;
    display: block;
    padding: 40px 0 40px;
    width: 100%;
    overflow: hidden;
}

.page-service {
    background-color: #f5f5f5;
}

.card-service {
    margin: 16px auto;
    padding: 20px;
    background-color: #fff;
    border: 0;
}

.card-service:hover {
    background-color: #f5f5f5;
}

.card-service .icon {
    display: inline-block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 32px;
    border-radius: 50%;
    background-color: #f4f5f8;
}

.card-service .caption {
    margin-top: 16px;
    text-align: center;
    color: #747474;
}


/* Footer */


/* Theme color style */


/* Theme Red */


/* Theme Blue */


/* Theme Green */


/* Theme Orange */


/* Theme Purple */